<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="/socket.io/socket.io.js")

        script(type="module", src="javascript/game.js")
        link(rel="stylesheet", href="stylesheets/style.css")
        title Document
    body
    canvas#gameFrame